@model dynamic;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Carrito";
    
    IEnumerable<zapat.Models.PreOrden> listItemsCarrito = new List<PreOrden>();
    listItemsCarrito = @Model.elementosCarrito;
    Decimal montoTotal = @Model.montoTotal;
}



<link rel="stylesheet" href="~/css/templatemo.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Carrito.css" asp-append-version="true" />


<div class="carrito-container">
    <!-- Panel izquierdo con productos -->
    <div class="carrito-left">
        <h3 class="titulo">CARRITO DE COMPRAS</h3>
        @foreach (PreOrden item in Model.elementosCarrito)
        {
            <div class="producto-card">
                <img src="@Html.DisplayFor(model => item.Producto.ImageURL)" />
                <div class="producto-info">
                    <div class="producto-texto">
                        <h5>@Html.DisplayFor(modelItem => item.Producto.Name)</h5>
                    </div>

                    <div class="producto-interacciones">
                        <div class="cantidad-controls">
                            <form asp-action="Decrementar" method="post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit">−</button>
                            </form>

                            <span>@item.Cantidad</span>

                            <form asp-action="Incrementar" method="post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit">+</button>
                            </form>
                        </div>

                        <div class="precios">
                           
                            <p class="precio-descuento">S/ @item.Precio</p>
                        </div>
                    </div>
                    <div class="acciones">
                      
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Panel derecho con resumen -->
    <div class="carrito-right">
        <h3 class="titulo-resumen">Resumen de compra</h3>
        <div class="resumen">
            <p>Productos: <span>S/. @montoTotal</span></p>
            <p>Envío: <span style="color: #00a650;">Gratis</span></p>
            <a href="#">Ingresar código de cupón</a>
            <hr />
            <p class="total">Total: <span>S/. @montoTotal</span></p>
        </div>
        <a class="btn btn-primary" asp-controller="TipoPago" asp-action="Index" asp-route-monto="@montoTotal">Continuar Compra</a>
        
    </div>
    
</div>
<br>